<%- include('partials/header.ejs', { title: 'Lista de Tarefas' }) %>
<body>
  <div class="container">
    <h1 class="my-4 text-center">Lista de Tarefas</h1>
    <form method="POST" action="/add" class="mb-3">
      <div class="input-group mb-3">
        <input
          type="text"
          name="user"
          placeholder="Utilizador"
          class="form-control"
          required
        />
        <input
          type="text"
          name="task"
          placeholder="Tarefa"
          class="form-control"
          required
        />
        <button class="btn btn-primary" type="submit">Adicionar</button>
      </div>
    </form>

    <ul class="list-group">
      <% tasks.forEach(task => { %>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <div><strong><%= task.user %>:</strong> <%= task.task %></div>
        <div class="task-item-actions">
          <a
            href="/edit/<%= task.id %>"
            class="btn btn-outline-secondary btn-sm"
            >Editar</a
          >
          <form method="POST" action="/delete/<%= task.id %>" class="d-inline">
            <button type="submit" class="btn btn-outline-danger btn-sm">
              Remover
            </button>
          </form>
        </div>
      </li>
      <% }) %>
    </ul>
  </div>

  <%- include('partials/footer.ejs') %>
</body>
